repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        types: [python]
        pass_filenames: false

      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        pass_filenames: false

      - id: run-pytest
        name: pytest
        entry: pytest tests
        language: system
        types: [python]
        pass_filenames: false

      - id: run-pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        press_filenames: false

      - id: check-patterns
        name: patterns check
        entry: python .pre_commit_hooks/check_patterns.py
        language: system
        types: [python]